{% extends 'base.html.twig' %}

{% block title %}Ajouter Session{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% include "sidebar/sidebar.html.twig" %}

        <main class="col-md-10 ms-sm-auto px-4 py-4">
            <h2 class="fw-bold">Agenda partagé</h2>
            <ul class="nav nav-tabs my-3"></ul>


            <div class="row my-4">
                <div class="col-md-6">
                    <div id="calendar-holder"></div>
                </div>

                <div class="col-md-6">
                    <form id="create_session" class="p-3 border rounded shadow-sm bg-light">
                        <h5 class="mb-4">Créer une session</h5>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="centre-selector" class="form-label">Centre <span class='text-danger fw-bold'>*</span></label>
                                <select id="centre-selector" class="form-select">
                                    <option value="">-</option>
                                    {% for centre in centres %}
                                        <option value="{{ centre.id }}">{{ centre.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="salle-selector" class="form-label">Salle <span class='text-danger fw-bold'>*</span></label>
                                <select id="salle-selector" class="form-select" disabled>
                                    <option value="">-</option>
                                    {% for salle in salles %}
                                        <option value="{{ salle.id }}" data-centre="{{ salle.centreformation.id }}">{{ salle.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="forma-selector" class="form-label">Formation <span class='text-danger fw-bold'>*</span></label>
                            <select id="forma-selector" class="form-select">
                                <option value="">---</option>
                                {% for formation in formations %}
                                    <option value="{{ formation.id }}">{{ formation.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="nbr_part" class="form-label">Nbr de participants <span class='text-danger fw-bold'>*</span></label>
                            <input id="nbr_part" name="nbr_part" type="number" min="1" class="form-control">
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="date_debut" class="form-label">Date de début <span class='text-danger fw-bold'>*</span></label>
                                <input id="date_debut" name="date_debut" type="datetime-local" class="form-control">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="date_fin" class="form-label">Date de fin <span class='text-danger fw-bold'>*</span></label>
                                <input id="date_fin" name="date_fin" type="datetime-local" class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="stag-selector" class="form-label">Stagiaires</label>
                            <select id="stag-selector" name="stagiaires[]" class="form-control" multiple>
                                {% for stagiaire in stagiaires %}
                                    <option value="{{ stagiaire.id }}">{{ stagiaire.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Créer la session</button>
                    </form>
                </div>
            </div>
            <a href="{{ path('app_home') }}" class="btn btn-secondary mb-3">Retour</a>
        </main>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script src="{{ asset('js/calendar_session.js') }}"></script>
    <script src="{{ asset('js/salle_selector.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#stag-selector').select2({
                placeholder: "Sélectionnez un ou plusieurs stagiaires",
                allowClear: true
            });
        });
    </script>
{% endblock %}
